/* * Adjust the height and width of the image on the index page and location */ */
.img-responsive{
      max-width: 220px;
      /* height: 275px; */
  }

  h1 {
      text-align: center;
      margin: 0px !important;
      padding: 0px !important;
  }

  #fullstack {
    font-size: x-large;
    text-align: center;
}

/* add padding so text is not at top of screen */
#dafs{
    padding-top: 50px;
}


/* Media query to mage image on index page align properly at diferent sizes */
/* @media (min-width: 768px) {
    .img-responsive {float: left;}
} */

/* Media query to mage personalized text on index page align properly at diferent sizes */
/* @media (min-width: 576px) {
    .deeann {display: inline;}
} */

/* Media query to mage personalized text on index page align properly at diferent sizes */
/* @media (max-width: 568px) {
    h1 {display: inline;}
} */


