/* Details of the button on the contact page */
.submitButton {
    background-color: #990099;
    color: white;
    left: 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    font-family: 'Kalam', cursive;
}

.label{
    color: #990099;
    font-family: 'Kalam', cursive;
}

/* Setup the details of the straight line on Contact and Portfolio page */
#straight-line{
    border-bottom: grey;
    border-bottom: solid;
    padding-top: 0px;
    margin-top: 0px;
    padding: 0px;
}

.contactSpacing {
    padding: 0px !important;
}

h2 {
    padding-top: 20px;
}