/* set the background color of the navbar */
.navbar {
    background-color: #990099;
    color: white;
    padding-right: 120px;
    width: 100%;
}

.navbar-brand {
    padding-left: 5px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-top:-5px; 
    margin-bottom:-5px;
    width: 300px;
    color:white;
    font-weight: bold;
    /* font-size: calc(150px + 2vmin); */
    /* font-size: xx-large; */
    background-color: #990099;
    font-family: 'Kalam', cursive;
}

/* Media query to make navbar cover entire width of page on iPhone 5/SE */
/* @media (min-width: 565px) {
    .navbar-brand  {width: 700px;}
    .navbar {width: 150%}
} */