/* Make the contact icons highlight when hovered over */
#emailImage:hover {
  filter: grayscale(100%);
  -webkit-filter: brightness(1.50);
}

#githubImage:hover {
  filter: grayscale(100%);
  -webkit-filter: brightness(1.50);   
}

#fileImage:hover {
  filter: grayscale(100%);
  -webkit-filter: brightness(1.50); 
}

#linkedinImage:hover {
  filter: grayscale(100%);
  -webkit-filter: brightness(1.50); 
}

/* Set the color of the font for the site to Purple */
div{
  color: #990099;
  font-family: 'Kalam', cursive;
}
