body{
    background-image: url("./assets/images/aia.jpg");
    background-repeat: yes; 
    background-size: cover; 
    background-position: center;
    font-family: 'Kalam', cursive;
    width: 100vw;
  }