body{
    background-image: url("../src/Assets/images/aia.jpg");
    background-repeat: yes; 
    background-size: cover; 
    background-position: center;
    font-family: 'Kalam', cursive;
    width: 100%
  }